<div class="home">
    <div class="title">
        <img src="/assets/pictures/sigla-unitbv.png" align="left" width="150" height="150" class="margins">
        <br>
        <h1 class="title">Welcome to Transilavania University! <br> Computer Science department</h1>
        <img src="/assets/pictures/sigla-unitbv-mi.jpg" align="right" width="150" height="150" class="margins">
    </div>
    <br>
    <div class="cards">
        <mat-card class="example-card margins">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Students</mat-card-title>
                <mat-card-subtitle>Their happiness is our happiness</mat-card-subtitle>
            </mat-card-header>
            <img class="picture" mat-card-image src='/assets/pictures/students.png'>
            <mat-card-content>
                <p>
                    Our priority are the students from our University and we want to give them the best
                    opportunities in this domain.
                </p>
                <p class="details">
                    Here is the list of our students and their personal data contacts if you have questions:
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" mat-button [routerLink]="['/students']">Students List</button>
           </mat-card-actions>
        </mat-card>
        <mat-card class="example-card margins">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Teachers</mat-card-title>
                <mat-card-subtitle>The most important in the students happiness process</mat-card-subtitle>
            </mat-card-header>
            <img class="picture" mat-card-image src="/assets/pictures/teachers.png">
            <mat-card-content>
                <p>
                    Our teachers are full of optimism and devotament. <br>
                    Necause of them, our students can learn a lot of useful things that will help them succeed in their future career.
                </p>
                <p class="details">
                    Here is the list of our teachers and their personal data contacts if you have questions:
                </p>
            </mat-card-content>
            <mat-card-actions>
                 <button class="button" mat-button [routerLink]="['/teachers']">Teachers List</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card margins">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Courses</mat-card-title>
                <mat-card-subtitle>Variety of options</mat-card-subtitle>
            </mat-card-header>
            <img class="picture" mat-card-image src="/assets/pictures/course.jpg">
            <mat-card-content>
                <p>
                    We have a big variety of courses so the students are able to learn a lot of things and
                    at the end of the univeristy they can choose their career based on what they liked the most.
                </p>
                <p class="details">
                    Here is the list of our courses and when you are going to study them:
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" mat-button [routerLink]="['/courses']">Courses List</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
