h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    background-color: white;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.margins{
    margin-left: 10px;
    margin-right: 10px;
}

.home{
    background-image: url("/assets/pictures/white.jpg");
    background-position: center;
    background-size: cover;
    widows: 100%;
    height: 100%;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.example-card {
    max-width: 400px;
    background-color: lightblue;
}

.example-header-image {
    background-image: url('/assets/pictures/sigla-unitbv-mi.jpg');
    background-size: cover;
}

.picture{
    max-height: 250px;
}

.details{
    font-weight: bold;
}

.button {
    background-color: lightslategray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
