<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <p>{{data.content}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClickNo()">{{cancelButton.name}}</button>
  <button mat-button (click)="submitButton.method()">{{submitButton.name}}</button>
</div>
