<mat-toolbar class="toolbar">
    <div class="title">
        <button *ngIf="backButton" mat-button matTooltip={{backButton.tooltip}} (click)="backButton.method()">
            <mat-icon>
                <i class="ticons ticons-{{backButton.icon}}"></i>
            </mat-icon>
        </button>
        <span>{{title}}</span>
    </div>
    <div class="buttons">
        <button mat-button *ngFor="let button of toolbarButtons" matTooltip={{button.tooltip}}
            (click)="button.method()">
            <mat-icon>
                <i class="ticons ticons-{{button.icon}}"></i>
            </mat-icon>
        </button>
    </div>
</mat-toolbar>
