.toolbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
}

.search{
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
}

.input{
    width: 100px;
}

.title{
    display: flex;
    align-items: center;
}