<app-toolbar [title]="title" [toolbarButtons]="toolbarButtons" [backButton]="backButton"></app-toolbar>
<app-list-view [dataSource]="dataSource" [displayedColumns]="displayedColumns"  [redirectUrl]="redirectUrl"></app-list-view>
<app-paginator [length]="length" (pageEvent)="setDataSourceWithPagination($event)"></app-paginator>
