@font-face {
	font-family: "trimble-icons";
	src: url("./trimble-icons.eot?#iefix") format("embedded-opentype"),
url("./trimble-icons.woff") format("woff"),
url("./trimble-icons.woff2") format("woff2"),
url("./trimble-icons.ttf") format("truetype"),
url("./trimble-icons.svg#trimble-icons") format("svg");
}

.ticons {
	line-height: 1;
}

.ticons:before {
	font-family: trimble-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.ticons-3D_group:before {
	content: "\f101";
}
.ticons-access_time:before {
	content: "\f102";
}
.ticons-account_box:before {
	content: "\f103";
}
.ticons-account_circle:before {
	content: "\f104";
}
.ticons-accuracy:before {
	content: "\f105";
}
.ticons-activity:before {
	content: "\f106";
}
.ticons-add_a_photo:before {
	content: "\f107";
}
.ticons-add_alert:before {
	content: "\f108";
}
.ticons-add_box:before {
	content: "\f109";
}
.ticons-add_circle_outline:before {
	content: "\f10a";
}
.ticons-add_circle:before {
	content: "\f10b";
}
.ticons-add_location:before {
	content: "\f10c";
}
.ticons-add_measure:before {
	content: "\f10d";
}
.ticons-add_multiple_points:before {
	content: "\f10e";
}
.ticons-add_to_photos:before {
	content: "\f10f";
}
.ticons-add_todo:before {
	content: "\f110";
}
.ticons-add_user:before {
	content: "\f111";
}
.ticons-add:before {
	content: "\f112";
}
.ticons-alarm_add:before {
	content: "\f113";
}
.ticons-alarm_off:before {
	content: "\f114";
}
.ticons-alarm_on:before {
	content: "\f115";
}
.ticons-alarm:before {
	content: "\f116";
}
.ticons-align_bottom:before {
	content: "\f117";
}
.ticons-align_horizontal:before {
	content: "\f118";
}
.ticons-align_left:before {
	content: "\f119";
}
.ticons-align_right:before {
	content: "\f11a";
}
.ticons-align_top:before {
	content: "\f11b";
}
.ticons-align_vertical:before {
	content: "\f11c";
}
.ticons-align:before {
	content: "\f11d";
}
.ticons-alignment:before {
	content: "\f11e";
}
.ticons-apps:before {
	content: "\f11f";
}
.ticons-archive:before {
	content: "\f120";
}
.ticons-arrow_back_outline:before {
	content: "\f121";
}
.ticons-arrow_back:before {
	content: "\f122";
}
.ticons-arrow_downward_outline:before {
	content: "\f123";
}
.ticons-arrow_downward:before {
	content: "\f124";
}
.ticons-arrow_drop_down_circle:before {
	content: "\f125";
}
.ticons-arrow_drop_down:before {
	content: "\f126";
}
.ticons-arrow_drop_up:before {
	content: "\f127";
}
.ticons-arrow_forward_outline:before {
	content: "\f128";
}
.ticons-arrow_forward:before {
	content: "\f129";
}
.ticons-arrow_next:before {
	content: "\f12a";
}
.ticons-arrow_prev:before {
	content: "\f12b";
}
.ticons-arrow_upward_outline:before {
	content: "\f12c";
}
.ticons-arrow_upward:before {
	content: "\f12d";
}
.ticons-ascending:before {
	content: "\f12e";
}
.ticons-assignment_ind:before {
	content: "\f12f";
}
.ticons-assignment_late:before {
	content: "\f130";
}
.ticons-assignment_return:before {
	content: "\f131";
}
.ticons-assignment_returned:before {
	content: "\f132";
}
.ticons-assignment:before {
	content: "\f133";
}
.ticons-assistant_photo:before {
	content: "\f134";
}
.ticons-assistant:before {
	content: "\f135";
}
.ticons-attach_file:before {
	content: "\f136";
}
.ticons-attach_money:before {
	content: "\f137";
}
.ticons-attachment:before {
	content: "\f138";
}
.ticons-autorenew:before {
	content: "\f139";
}
.ticons-axon_back:before {
	content: "\f13a";
}
.ticons-axon_bottom:before {
	content: "\f13b";
}
.ticons-axon_default:before {
	content: "\f13c";
}
.ticons-axon_front:before {
	content: "\f13d";
}
.ticons-axon_left:before {
	content: "\f13e";
}
.ticons-axon_right:before {
	content: "\f13f";
}
.ticons-axon_top:before {
	content: "\f140";
}
.ticons-backspace:before {
	content: "\f141";
}
.ticons-base_station:before {
	content: "\f142";
}
.ticons-baseline-category:before {
	content: "\f143";
}
.ticons-battery:before {
	content: "\f144";
}
.ticons-beenhere:before {
	content: "\f145";
}
.ticons-block:before {
	content: "\f146";
}
.ticons-bluetooth:before {
	content: "\f147";
}
.ticons-book:before {
	content: "\f148";
}
.ticons-bookmark_border:before {
	content: "\f149";
}
.ticons-bookmark:before {
	content: "\f14a";
}
.ticons-border_all:before {
	content: "\f14b";
}
.ticons-border_bottom:before {
	content: "\f14c";
}
.ticons-border_clear:before {
	content: "\f14d";
}
.ticons-border_horizontal:before {
	content: "\f14e";
}
.ticons-border_inner:before {
	content: "\f14f";
}
.ticons-border_left:before {
	content: "\f150";
}
.ticons-border_outer:before {
	content: "\f151";
}
.ticons-border_right:before {
	content: "\f152";
}
.ticons-border_style:before {
	content: "\f153";
}
.ticons-border_top:before {
	content: "\f154";
}
.ticons-border_vertical:before {
	content: "\f155";
}
.ticons-browse:before {
	content: "\f156";
}
.ticons-brush:before {
	content: "\f157";
}
.ticons-bubble_chart:before {
	content: "\f158";
}
.ticons-build:before {
	content: "\f159";
}
.ticons-business:before {
	content: "\f15a";
}
.ticons-cached:before {
	content: "\f15b";
}
.ticons-calendar:before {
	content: "\f15c";
}
.ticons-call_end:before {
	content: "\f15d";
}
.ticons-call_made:before {
	content: "\f15e";
}
.ticons-call_merge:before {
	content: "\f15f";
}
.ticons-call_missed_outgoing:before {
	content: "\f160";
}
.ticons-call_missed:before {
	content: "\f161";
}
.ticons-call_received:before {
	content: "\f162";
}
.ticons-call_split:before {
	content: "\f163";
}
.ticons-call:before {
	content: "\f164";
}
.ticons-camera_alt:before {
	content: "\f165";
}
.ticons-camera_orbit:before {
	content: "\f166";
}
.ticons-camera:before {
	content: "\f167";
}
.ticons-cancel_outline:before {
	content: "\f168";
}
.ticons-cancel:before {
	content: "\f169";
}
.ticons-cart:before {
	content: "\f16a";
}
.ticons-cast_connected:before {
	content: "\f16b";
}
.ticons-CB460:before {
	content: "\f16c";
}
.ticons-center_station:before {
	content: "\f16d";
}
.ticons-chart:before {
	content: "\f16e";
}
.ticons-chat_bubble_outline:before {
	content: "\f16f";
}
.ticons-chat_bubble:before {
	content: "\f170";
}
.ticons-chat:before {
	content: "\f171";
}
.ticons-check_box_checked_outline:before {
	content: "\f172";
}
.ticons-check_box_checked:before {
	content: "\f173";
}
.ticons-check_box_outline_blank:before {
	content: "\f174";
}
.ticons-check_circle_outline:before {
	content: "\f175";
}
.ticons-check_circle:before {
	content: "\f176";
}
.ticons-check:before {
	content: "\f177";
}
.ticons-chevron_down:before {
	content: "\f178";
}
.ticons-chevron_left:before {
	content: "\f179";
}
.ticons-chevron_right:before {
	content: "\f17a";
}
.ticons-chevron_up:before {
	content: "\f17b";
}
.ticons-circle:before {
	content: "\f17c";
}
.ticons-clash_set_add:before {
	content: "\f17d";
}
.ticons-clash_set:before {
	content: "\f17e";
}
.ticons-clear_all:before {
	content: "\f17f";
}
.ticons-clear:before {
	content: "\f180";
}
.ticons-clip_pane:before {
	content: "\f181";
}
.ticons-clip_plane:before {
	content: "\f182";
}
.ticons-close:before {
	content: "\f183";
}
.ticons-cloud_circle:before {
	content: "\f184";
}
.ticons-cloud_done:before {
	content: "\f185";
}
.ticons-cloud_download:before {
	content: "\f186";
}
.ticons-cloud_off:before {
	content: "\f187";
}
.ticons-cloud_queue:before {
	content: "\f188";
}
.ticons-cloud_upload:before {
	content: "\f189";
}
.ticons-cloud:before {
	content: "\f18a";
}
.ticons-code:before {
	content: "\f18b";
}
.ticons-color:before {
	content: "\f18c";
}
.ticons-comment_add:before {
	content: "\f18d";
}
.ticons-comment:before {
	content: "\f18e";
}
.ticons-communication_none:before {
	content: "\f18f";
}
.ticons-communication_off:before {
	content: "\f190";
}
.ticons-company:before {
	content: "\f191";
}
.ticons-compass:before {
	content: "\f192";
}
.ticons-computer:before {
	content: "\f193";
}
.ticons-connect_link:before {
	content: "\f194";
}
.ticons-connect_logo:before {
	content: "\f195";
}
.ticons-connections:before {
	content: "\f196";
}
.ticons-content_add:before {
	content: "\f197";
}
.ticons-content_close:before {
	content: "\f198";
}
.ticons-content_copy:before {
	content: "\f199";
}
.ticons-content_cut:before {
	content: "\f19a";
}
.ticons-content_export_alt:before {
	content: "\f19b";
}
.ticons-content_export:before {
	content: "\f19c";
}
.ticons-content_import_alt:before {
	content: "\f19d";
}
.ticons-content_import:before {
	content: "\f19e";
}
.ticons-content_paste:before {
	content: "\f19f";
}
.ticons-content_subtract:before {
	content: "\f1a0";
}
.ticons-control:before {
	content: "\f1a1";
}
.ticons-cost_type_info:before {
	content: "\f1a2";
}
.ticons-create:before {
	content: "\f1a3";
}
.ticons-creditcard:before {
	content: "\f1a4";
}
.ticons-crop_original:before {
	content: "\f1a5";
}
.ticons-crop:before {
	content: "\f1a6";
}
.ticons-dashboard:before {
	content: "\f1a7";
}
.ticons-data:before {
	content: "\f1a8";
}
.ticons-date_range:before {
	content: "\f1a9";
}
.ticons-delete_all:before {
	content: "\f1aa";
}
.ticons-delete_forever:before {
	content: "\f1ab";
}
.ticons-delete:before {
	content: "\f1ac";
}
.ticons-descending:before {
	content: "\f1ad";
}
.ticons-description:before {
	content: "\f1ae";
}
.ticons-design:before {
	content: "\f1af";
}
.ticons-desktop_mac:before {
	content: "\f1b0";
}
.ticons-desktop_windows:before {
	content: "\f1b1";
}
.ticons-device_group:before {
	content: "\f1b2";
}
.ticons-device:before {
	content: "\f1b3";
}
.ticons-disabled:before {
	content: "\f1b4";
}
.ticons-display_settings:before {
	content: "\f1b5";
}
.ticons-dns:before {
	content: "\f1b6";
}
.ticons-drag_handle:before {
	content: "\f1b7";
}
.ticons-drag_horiz:before {
	content: "\f1b8";
}
.ticons-drag_vert:before {
	content: "\f1b9";
}
.ticons-draw_circle:before {
	content: "\f1ba";
}
.ticons-draw_line:before {
	content: "\f1bb";
}
.ticons-draw_rectangle:before {
	content: "\f1bc";
}
.ticons-draw_triangle:before {
	content: "\f1bd";
}
.ticons-drill_layers:before {
	content: "\f1be";
}
.ticons-drop_down_circle:before {
	content: "\f1bf";
}
.ticons-dropdown:before {
	content: "\f1c0";
}
.ticons-Earthworks:before {
	content: "\f1c1";
}
.ticons-edit_multiple_lines:before {
	content: "\f1c2";
}
.ticons-edit_off:before {
	content: "\f1c3";
}
.ticons-edit_single_line:before {
	content: "\f1c4";
}
.ticons-edit:before {
	content: "\f1c5";
}
.ticons-elevation_get:before {
	content: "\f1c6";
}
.ticons-elevation_reset:before {
	content: "\f1c7";
}
.ticons-elevation_set:before {
	content: "\f1c8";
}
.ticons-email_open:before {
	content: "\f1c9";
}
.ticons-email:before {
	content: "\f1ca";
}
.ticons-equalizer:before {
	content: "\f1cb";
}
.ticons-equipment_cost:before {
	content: "\f1cc";
}
.ticons-error_alt:before {
	content: "\f1cd";
}
.ticons-error_outline:before {
	content: "\f1ce";
}
.ticons-error:before {
	content: "\f1cf";
}
.ticons-event_available:before {
	content: "\f1d0";
}
.ticons-event_busy:before {
	content: "\f1d1";
}
.ticons-event_note:before {
	content: "\f1d2";
}
.ticons-event:before {
	content: "\f1d3";
}
.ticons-exit:before {
	content: "\f1d4";
}
.ticons-expand_content:before {
	content: "\f1d5";
}
.ticons-expand_less:before {
	content: "\f1d6";
}
.ticons-expand_more:before {
	content: "\f1d7";
}
.ticons-expander:before {
	content: "\f1d8";
}
.ticons-explorer:before {
	content: "\f1d9";
}
.ticons-export:before {
	content: "\f1da";
}
.ticons-eye_visibility_off:before {
	content: "\f1db";
}
.ticons-eye_visibility_toggle:before {
	content: "\f1dc";
}
.ticons-eye_visibility:before {
	content: "\f1dd";
}
.ticons-facebook:before {
	content: "\f1de";
}
.ticons-favorite_border:before {
	content: "\f1df";
}
.ticons-favorite:before {
	content: "\f1e0";
}
.ticons-feedback:before {
	content: "\f1e1";
}
.ticons-file_add:before {
	content: "\f1e2";
}
.ticons-file_copy:before {
	content: "\f1e3";
}
.ticons-file_download:before {
	content: "\f1e4";
}
.ticons-file_template:before {
	content: "\f1e5";
}
.ticons-file_upload:before {
	content: "\f1e6";
}
.ticons-file:before {
	content: "\f1e7";
}
.ticons-filter_list:before {
	content: "\f1e8";
}
.ticons-filter_none:before {
	content: "\f1e9";
}
.ticons-filter_outline:before {
	content: "\f1ea";
}
.ticons-filter:before {
	content: "\f1eb";
}
.ticons-find_in_page:before {
	content: "\f1ec";
}
.ticons-find_replace:before {
	content: "\f1ed";
}
.ticons-first_page:before {
	content: "\f1ee";
}
.ticons-folder_create_new:before {
	content: "\f1ef";
}
.ticons-folder_edit:before {
	content: "\f1f0";
}
.ticons-folder_locked:before {
	content: "\f1f1";
}
.ticons-folder_open:before {
	content: "\f1f2";
}
.ticons-folder_permissions:before {
	content: "\f1f3";
}
.ticons-folder_project:before {
	content: "\f1f4";
}
.ticons-folder_shared:before {
	content: "\f1f5";
}
.ticons-folder_special:before {
	content: "\f1f6";
}
.ticons-folder_view_group:before {
	content: "\f1f7";
}
.ticons-folder_views:before {
	content: "\f1f8";
}
.ticons-folder:before {
	content: "\f1f9";
}
.ticons-font_download:before {
	content: "\f1fa";
}
.ticons-format_align_center:before {
	content: "\f1fb";
}
.ticons-format_align_justify:before {
	content: "\f1fc";
}
.ticons-format_align_left:before {
	content: "\f1fd";
}
.ticons-format_align_right:before {
	content: "\f1fe";
}
.ticons-format_bold:before {
	content: "\f1ff";
}
.ticons-format_clear:before {
	content: "\f200";
}
.ticons-format_color_fill:before {
	content: "\f201";
}
.ticons-format_color_reset:before {
	content: "\f202";
}
.ticons-format_color_text:before {
	content: "\f203";
}
.ticons-format_indent_decrease:before {
	content: "\f204";
}
.ticons-format_indent_increase:before {
	content: "\f205";
}
.ticons-format_italic:before {
	content: "\f206";
}
.ticons-format_line_spacing:before {
	content: "\f207";
}
.ticons-format_list_bulleted:before {
	content: "\f208";
}
.ticons-format_list_numbered:before {
	content: "\f209";
}
.ticons-format_paint:before {
	content: "\f20a";
}
.ticons-format_quote:before {
	content: "\f20b";
}
.ticons-format_shapes:before {
	content: "\f20c";
}
.ticons-format_size:before {
	content: "\f20d";
}
.ticons-format_strikethrough:before {
	content: "\f20e";
}
.ticons-format_textdirection_l_to_r:before {
	content: "\f20f";
}
.ticons-format_textdirection_r_to_l:before {
	content: "\f210";
}
.ticons-format_underlined:before {
	content: "\f211";
}
.ticons-forum:before {
	content: "\f212";
}
.ticons-forward:before {
	content: "\f213";
}
.ticons-front_view:before {
	content: "\f214";
}
.ticons-full-screen:before {
	content: "\f215";
}
.ticons-fullscreen_exit:before {
	content: "\f216";
}
.ticons-fullscreen:before {
	content: "\f217";
}
.ticons-functions:before {
	content: "\f218";
}
.ticons-FXL:before {
	content: "\f219";
}
.ticons-geometry:before {
	content: "\f21a";
}
.ticons-gesture:before {
	content: "\f21b";
}
.ticons-google_plus:before {
	content: "\f21c";
}
.ticons-gps_fixed:before {
	content: "\f21d";
}
.ticons-gps:before {
	content: "\f21e";
}
.ticons-grade:before {
	content: "\f21f";
}
.ticons-group_add:before {
	content: "\f220";
}
.ticons-group:before {
	content: "\f221";
}
.ticons-hammer:before {
	content: "\f222";
}
.ticons-hand:before {
	content: "\f223";
}
.ticons-hard_hat:before {
	content: "\f224";
}
.ticons-hashtag:before {
	content: "\f225";
}
.ticons-help_outline:before {
	content: "\f226";
}
.ticons-help:before {
	content: "\f227";
}
.ticons-hide_others:before {
	content: "\f228";
}
.ticons-highlight_off:before {
	content: "\f229";
}
.ticons-highlight:before {
	content: "\f22a";
}
.ticons-history:before {
	content: "\f22b";
}
.ticons-hololens:before {
	content: "\f22c";
}
.ticons-home:before {
	content: "\f22d";
}
.ticons-image_outline:before {
	content: "\f22e";
}
.ticons-image:before {
	content: "\f22f";
}
.ticons-import_contacts:before {
	content: "\f230";
}
.ticons-import_export:before {
	content: "\f231";
}
.ticons-import:before {
	content: "\f232";
}
.ticons-inbox:before {
	content: "\f233";
}
.ticons-indeterminate_check_box_outline:before {
	content: "\f234";
}
.ticons-indeterminate_check_box:before {
	content: "\f235";
}
.ticons-indeterminate_visibility:before {
	content: "\f236";
}
.ticons-info_outline:before {
	content: "\f237";
}
.ticons-info:before {
	content: "\f238";
}
.ticons-insert_chart:before {
	content: "\f239";
}
.ticons-insert_drive_file:before {
	content: "\f23a";
}
.ticons-insert_link:before {
	content: "\f23b";
}
.ticons-insert_photo:before {
	content: "\f23c";
}
.ticons-interface:before {
	content: "\f23d";
}
.ticons-item_wbs:before {
	content: "\f23e";
}
.ticons-joystick:before {
	content: "\f23f";
}
.ticons-keyboard_backspace:before {
	content: "\f240";
}
.ticons-label_outline:before {
	content: "\f241";
}
.ticons-label:before {
	content: "\f242";
}
.ticons-language:before {
	content: "\f243";
}
.ticons-laptop_chromebook:before {
	content: "\f244";
}
.ticons-laptop_mac:before {
	content: "\f245";
}
.ticons-laptop:before {
	content: "\f246";
}
.ticons-last_page:before {
	content: "\f247";
}
.ticons-launch_collapse:before {
	content: "\f248";
}
.ticons-launch_new:before {
	content: "\f249";
}
.ticons-launch:before {
	content: "\f24a";
}
.ticons-layers_clear:before {
	content: "\f24b";
}
.ticons-layers:before {
	content: "\f24c";
}
.ticons-lens:before {
	content: "\f24d";
}
.ticons-library_add:before {
	content: "\f24e";
}
.ticons-library_books:before {
	content: "\f24f";
}
.ticons-light_dark:before {
	content: "\f250";
}
.ticons-light:before {
	content: "\f251";
}
.ticons-lightbulb_outline:before {
	content: "\f252";
}
.ticons-linear_scale:before {
	content: "\f253";
}
.ticons-linestring:before {
	content: "\f254";
}
.ticons-link_add:before {
	content: "\f255";
}
.ticons-link_off:before {
	content: "\f256";
}
.ticons-link_remove:before {
	content: "\f257";
}
.ticons-link:before {
	content: "\f258";
}
.ticons-linkedin:before {
	content: "\f259";
}
.ticons-list:before {
	content: "\f25a";
}
.ticons-live_help:before {
	content: "\f25b";
}
.ticons-local_offer:before {
	content: "\f25c";
}
.ticons-location_off:before {
	content: "\f25d";
}
.ticons-location:before {
	content: "\f25e";
}
.ticons-lock_open:before {
	content: "\f25f";
}
.ticons-lock_outline:before {
	content: "\f260";
}
.ticons-lock:before {
	content: "\f261";
}
.ticons-long-text:before {
	content: "\f262";
}
.ticons-low_priority:before {
	content: "\f263";
}
.ticons-machine:before {
	content: "\f264";
}
.ticons-machines:before {
	content: "\f265";
}
.ticons-mail_outline:before {
	content: "\f266";
}
.ticons-map:before {
	content: "\f267";
}
.ticons-markunread_mailbox:before {
	content: "\f268";
}
.ticons-markup_arrow:before {
	content: "\f269";
}
.ticons-markup_cloud:before {
	content: "\f26a";
}
.ticons-markup_line:before {
	content: "\f26b";
}
.ticons-markup_text_active:before {
	content: "\f26c";
}
.ticons-material_cost:before {
	content: "\f26d";
}
.ticons-measure_up:before {
	content: "\f26e";
}
.ticons-measure-vertical:before {
	content: "\f26f";
}
.ticons-measure:before {
	content: "\f270";
}
.ticons-menu_close:before {
	content: "\f271";
}
.ticons-menu_collapse:before {
	content: "\f272";
}
.ticons-menu_expand:before {
	content: "\f273";
}
.ticons-menu_open:before {
	content: "\f274";
}
.ticons-menu:before {
	content: "\f275";
}
.ticons-metadata:before {
	content: "\f276";
}
.ticons-mic:before {
	content: "\f277";
}
.ticons-model_grid:before {
	content: "\f278";
}
.ticons-model_tree:before {
	content: "\f279";
}
.ticons-monetization_on:before {
	content: "\f27a";
}
.ticons-money_off:before {
	content: "\f27b";
}
.ticons-more_horiz:before {
	content: "\f27c";
}
.ticons-more_vert:before {
	content: "\f27d";
}
.ticons-move_backward:before {
	content: "\f27e";
}
.ticons-move_forward:before {
	content: "\f27f";
}
.ticons-move_to_back:before {
	content: "\f280";
}
.ticons-move_to_front:before {
	content: "\f281";
}
.ticons-move_to_inbox:before {
	content: "\f282";
}
.ticons-move:before {
	content: "\f283";
}
.ticons-multiline_chart:before {
	content: "\f284";
}
.ticons-my_location:before {
	content: "\f285";
}
.ticons-navigation:before {
	content: "\f286";
}
.ticons-near_me:before {
	content: "\f287";
}
.ticons-new_releases:before {
	content: "\f288";
}
.ticons-next_week:before {
	content: "\f289";
}
.ticons-no_wifi:before {
	content: "\f28a";
}
.ticons-not_interested:before {
	content: "\f28b";
}
.ticons-note_add:before {
	content: "\f28c";
}
.ticons-notifications_active:before {
	content: "\f28d";
}
.ticons-notifications_none:before {
	content: "\f28e";
}
.ticons-notifications_off:before {
	content: "\f28f";
}
.ticons-notifications_paused:before {
	content: "\f290";
}
.ticons-notifications:before {
	content: "\f291";
}
.ticons-number:before {
	content: "\f292";
}
.ticons-object_property:before {
	content: "\f293";
}
.ticons-off:before {
	content: "\f294";
}
.ticons-on:before {
	content: "\f295";
}
.ticons-opacity_alt:before {
	content: "\f296";
}
.ticons-open:before {
	content: "\f297";
}
.ticons-orbit:before {
	content: "\f298";
}
.ticons-ortho:before {
	content: "\f299";
}
.ticons-orthogonal_view:before {
	content: "\f29a";
}
.ticons-other_cost:before {
	content: "\f29b";
}
.ticons-override:before {
	content: "\f29c";
}
.ticons-palette:before {
	content: "\f29d";
}
.ticons-panorama:before {
	content: "\f29e";
}
.ticons-party_mode:before {
	content: "\f29f";
}
.ticons-pause_outline:before {
	content: "\f2a0";
}
.ticons-pause:before {
	content: "\f2a1";
}
.ticons-people_outline:before {
	content: "\f2a2";
}
.ticons-people:before {
	content: "\f2a3";
}
.ticons-perm_contact_calendar:before {
	content: "\f2a4";
}
.ticons-perm_identity:before {
	content: "\f2a5";
}
.ticons-perm_media:before {
	content: "\f2a6";
}
.ticons-permissions:before {
	content: "\f2a7";
}
.ticons-person_add:before {
	content: "\f2a8";
}
.ticons-person_pin_circle:before {
	content: "\f2a9";
}
.ticons-person_pin:before {
	content: "\f2aa";
}
.ticons-person:before {
	content: "\f2ab";
}
.ticons-perspective:before {
	content: "\f2ac";
}
.ticons-phone_android:before {
	content: "\f2ad";
}
.ticons-phone_iphone:before {
	content: "\f2ae";
}
.ticons-phone:before {
	content: "\f2af";
}
.ticons-photo_library:before {
	content: "\f2b0";
}
.ticons-pie_chart_outlined:before {
	content: "\f2b1";
}
.ticons-pie_chart:before {
	content: "\f2b2";
}
.ticons-pin_drop:before {
	content: "\f2b3";
}
.ticons-place:before {
	content: "\f2b4";
}
.ticons-placeholder:before {
	content: "\f2b5";
}
.ticons-plans:before {
	content: "\f2b6";
}
.ticons-play_circle_filled:before {
	content: "\f2b7";
}
.ticons-play_circle_outline:before {
	content: "\f2b8";
}
.ticons-play:before {
	content: "\f2b9";
}
.ticons-portrait:before {
	content: "\f2ba";
}
.ticons-power:before {
	content: "\f2bb";
}
.ticons-print:before {
	content: "\f2bc";
}
.ticons-priority_high:before {
	content: "\f2bd";
}
.ticons-project_locked:before {
	content: "\f2be";
}
.ticons-project_settings:before {
	content: "\f2bf";
}
.ticons-project:before {
	content: "\f2c0";
}
.ticons-projects:before {
	content: "\f2c1";
}
.ticons-public:before {
	content: "\f2c2";
}
.ticons-rate_review:before {
	content: "\f2c3";
}
.ticons-read_only:before {
	content: "\f2c4";
}
.ticons-receipt:before {
	content: "\f2c5";
}
.ticons-record_voice_over:before {
	content: "\f2c6";
}
.ticons-redo:before {
	content: "\f2c7";
}
.ticons-refresh:before {
	content: "\f2c8";
}
.ticons-release:before {
	content: "\f2c9";
}
.ticons-remote:before {
	content: "\f2ca";
}
.ticons-remove_circle_outline:before {
	content: "\f2cb";
}
.ticons-remove_circle:before {
	content: "\f2cc";
}
.ticons-remove_outline:before {
	content: "\f2cd";
}
.ticons-remove:before {
	content: "\f2ce";
}
.ticons-replay:before {
	content: "\f2cf";
}
.ticons-reply_all:before {
	content: "\f2d0";
}
.ticons-reply:before {
	content: "\f2d1";
}
.ticons-report:before {
	content: "\f2d2";
}
.ticons-reports:before {
	content: "\f2d3";
}
.ticons-reset_bench:before {
	content: "\f2d4";
}
.ticons-reset_model:before {
	content: "\f2d5";
}
.ticons-restore_page:before {
	content: "\f2d6";
}
.ticons-revisions:before {
	content: "\f2d7";
}
.ticons-rotate_90_degrees_ccw:before {
	content: "\f2d8";
}
.ticons-rotate_left_alt:before {
	content: "\f2d9";
}
.ticons-rotate_left_outline:before {
	content: "\f2da";
}
.ticons-rotate_left:before {
	content: "\f2db";
}
.ticons-rotate_right_alt:before {
	content: "\f2dc";
}
.ticons-rotate_right_outline:before {
	content: "\f2dd";
}
.ticons-rotate_right:before {
	content: "\f2de";
}
.ticons-save:before {
	content: "\f2df";
}
.ticons-scan_settings:before {
	content: "\f2e0";
}
.ticons-sd_card:before {
	content: "\f2e1";
}
.ticons-search:before {
	content: "\f2e2";
}
.ticons-select_add:before {
	content: "\f2e3";
}
.ticons-select_all:before {
	content: "\f2e4";
}
.ticons-select_area_add:before {
	content: "\f2e5";
}
.ticons-select_area_subtract:before {
	content: "\f2e6";
}
.ticons-select_area:before {
	content: "\f2e7";
}
.ticons-select_assembly:before {
	content: "\f2e8";
}
.ticons-select_multiple:before {
	content: "\f2e9";
}
.ticons-select_object_add:before {
	content: "\f2ea";
}
.ticons-select_object_subrtact:before {
	content: "\f2eb";
}
.ticons-select_polygon:before {
	content: "\f2ec";
}
.ticons-select_single:before {
	content: "\f2ed";
}
.ticons-select_subtract:before {
	content: "\f2ee";
}
.ticons-select_text:before {
	content: "\f2ef";
}
.ticons-selected:before {
	content: "\f2f0";
}
.ticons-self_registration:before {
	content: "\f2f1";
}
.ticons-send:before {
	content: "\f2f2";
}
.ticons-sensors:before {
	content: "\f2f3";
}
.ticons-settings:before {
	content: "\f2f4";
}
.ticons-share_email:before {
	content: "\f2f5";
}
.ticons-share:before {
	content: "\f2f6";
}
.ticons-shopping_cart:before {
	content: "\f2f7";
}
.ticons-short_text:before {
	content: "\f2f8";
}
.ticons-show_all:before {
	content: "\f2f9";
}
.ticons-show_chart:before {
	content: "\f2fa";
}
.ticons-sign_out:before {
	content: "\f2fb";
}
.ticons-sim_card_alert:before {
	content: "\f2fc";
}
.ticons-sketchup:before {
	content: "\f2fd";
}
.ticons-skip_next:before {
	content: "\f2fe";
}
.ticons-skip_previous:before {
	content: "\f2ff";
}
.ticons-skype:before {
	content: "\f300";
}
.ticons-slideshow:before {
	content: "\f301";
}
.ticons-smartphone:before {
	content: "\f302";
}
.ticons-snapshot:before {
	content: "\f303";
}
.ticons-solid_alert:before {
	content: "\f304";
}
.ticons-solid_camera:before {
	content: "\f305";
}
.ticons-solid_cart:before {
	content: "\f306";
}
.ticons-solid_clash_bang:before {
	content: "\f307";
}
.ticons-solid_clash_set_add:before {
	content: "\f308";
}
.ticons-solid_clash_set_download:before {
	content: "\f309";
}
.ticons-solid_clash_set_remove:before {
	content: "\f30a";
}
.ticons-solid_clash_set:before {
	content: "\f30b";
}
.ticons-solid_collectedby:before {
	content: "\f30c";
}
.ticons-solid_comment_add:before {
	content: "\f30d";
}
.ticons-solid_comment_conversation:before {
	content: "\f30e";
}
.ticons-solid_comment_edit:before {
	content: "\f30f";
}
.ticons-solid_comment_remove:before {
	content: "\f310";
}
.ticons-solid_comment:before {
	content: "\f311";
}
.ticons-solid_favourite:before {
	content: "\f312";
}
.ticons-solid_filter:before {
	content: "\f313";
}
.ticons-solid_folder_closed:before {
	content: "\f314";
}
.ticons-solid_folder_open:before {
	content: "\f315";
}
.ticons-solid_info:before {
	content: "\f316";
}
.ticons-solid_link:before {
	content: "\f317";
}
.ticons-solid_locationservices:before {
	content: "\f318";
}
.ticons-solid_lock:before {
	content: "\f319";
}
.ticons-solid_minus:before {
	content: "\f31a";
}
.ticons-solid_number:before {
	content: "\f31b";
}
.ticons-solid_plus:before {
	content: "\f31c";
}
.ticons-solid_preferences:before {
	content: "\f31d";
}
.ticons-solid_select_single_add:before {
	content: "\f31e";
}
.ticons-solid_select_single_subtract:before {
	content: "\f31f";
}
.ticons-solid_select_single:before {
	content: "\f320";
}
.ticons-solid_split_left:before {
	content: "\f321";
}
.ticons-solid_split_top:before {
	content: "\f322";
}
.ticons-solid_text:before {
	content: "\f323";
}
.ticons-solid_todo:before {
	content: "\f324";
}
.ticons-solid_trash:before {
	content: "\f325";
}
.ticons-solid_user_group:before {
	content: "\f326";
}
.ticons-solid_user:before {
	content: "\f327";
}
.ticons-solid_view_list:before {
	content: "\f328";
}
.ticons-solid_view_tile:before {
	content: "\f329";
}
.ticons-sort_acending:before {
	content: "\f32a";
}
.ticons-sort_ascending:before {
	content: "\f32b";
}
.ticons-sort_decending:before {
	content: "\f32c";
}
.ticons-sort_descending:before {
	content: "\f32d";
}
.ticons-sort:before {
	content: "\f32e";
}
.ticons-space_bar:before {
	content: "\f32f";
}
.ticons-spinner2:before {
	content: "\f330";
}
.ticons-star_border:before {
	content: "\f331";
}
.ticons-star_filled:before {
	content: "\f332";
}
.ticons-star_half:before {
	content: "\f333";
}
.ticons-star:before {
	content: "\f334";
}
.ticons-stars:before {
	content: "\f335";
}
.ticons-status:before {
	content: "\f336";
}
.ticons-stop_circle_outline:before {
	content: "\f337";
}
.ticons-stop:before {
	content: "\f338";
}
.ticons-straighten:before {
	content: "\f339";
}
.ticons-strikethrough_s:before {
	content: "\f33a";
}
.ticons-subdirectory_arrow_left:before {
	content: "\f33b";
}
.ticons-subdirectory_arrow_right:before {
	content: "\f33c";
}
.ticons-subtract_content:before {
	content: "\f33d";
}
.ticons-subtract:before {
	content: "\f33e";
}
.ticons-sum:before {
	content: "\f33f";
}
.ticons-support:before {
	content: "\f340";
}
.ticons-swap_horiz:before {
	content: "\f341";
}
.ticons-swap_vert_fill:before {
	content: "\f342";
}
.ticons-swap_vert:before {
	content: "\f343";
}
.ticons-swap_vertical_circle:before {
	content: "\f344";
}
.ticons-sync_fill:before {
	content: "\f345";
}
.ticons-sync_filled:before {
	content: "\f346";
}
.ticons-sync_outline:before {
	content: "\f347";
}
.ticons-tablet:before {
	content: "\f348";
}
.ticons-tag:before {
	content: "\f349";
}
.ticons-tc_3d:before {
	content: "\f34a";
}
.ticons-tc_sync:before {
	content: "\f34b";
}
.ticons-TCS7:before {
	content: "\f34c";
}
.ticons-technician:before {
	content: "\f34d";
}
.ticons-text_fields:before {
	content: "\f34e";
}
.ticons-text_format:before {
	content: "\f34f";
}
.ticons-text_markup_alt:before {
	content: "\f350";
}
.ticons-text:before {
	content: "\f351";
}
.ticons-thumb_down:before {
	content: "\f352";
}
.ticons-thumb_up:before {
	content: "\f353";
}
.ticons-thumbs_up_down:before {
	content: "\f354";
}
.ticons-time:before {
	content: "\f355";
}
.ticons-timeline:before {
	content: "\f356";
}
.ticons-timer:before {
	content: "\f357";
}
.ticons-title:before {
	content: "\f358";
}
.ticons-toc:before {
	content: "\f359";
}
.ticons-today:before {
	content: "\f35a";
}
.ticons-todo_add:before {
	content: "\f35b";
}
.ticons-todo_list:before {
	content: "\f35c";
}
.ticons-todo:before {
	content: "\f35d";
}
.ticons-toggle_off:before {
	content: "\f35e";
}
.ticons-toggle_on:before {
	content: "\f35f";
}
.ticons-toggle_selection_plane:before {
	content: "\f360";
}
.ticons-transfer_files:before {
	content: "\f361";
}
.ticons-transform:before {
	content: "\f362";
}
.ticons-transparency:before {
	content: "\f363";
}
.ticons-trash_outline:before {
	content: "\f364";
}
.ticons-trending_down:before {
	content: "\f365";
}
.ticons-trending_flat:before {
	content: "\f366";
}
.ticons-trending_up:before {
	content: "\f367";
}
.ticons-tsc7:before {
	content: "\f368";
}
.ticons-tune:before {
	content: "\f369";
}
.ticons-turn_head:before {
	content: "\f36a";
}
.ticons-twitter:before {
	content: "\f36b";
}
.ticons-udf:before {
	content: "\f36c";
}
.ticons-unarchive:before {
	content: "\f36d";
}
.ticons-undo:before {
	content: "\f36e";
}
.ticons-unfold_less:before {
	content: "\f36f";
}
.ticons-unfold_more:before {
	content: "\f370";
}
.ticons-update:before {
	content: "\f371";
}
.ticons-usb:before {
	content: "\f372";
}
.ticons-user_add:before {
	content: "\f373";
}
.ticons-user_group_add:before {
	content: "\f374";
}
.ticons-user_group:before {
	content: "\f375";
}
.ticons-user:before {
	content: "\f376";
}
.ticons-users:before {
	content: "\f377";
}
.ticons-verified_user:before {
	content: "\f378";
}
.ticons-vertical_align_bottom:before {
	content: "\f379";
}
.ticons-vertical_align_center:before {
	content: "\f37a";
}
.ticons-vertical_align_top:before {
	content: "\f37b";
}
.ticons-videocam:before {
	content: "\f37c";
}
.ticons-view_agenda:before {
	content: "\f37d";
}
.ticons-view_column:before {
	content: "\f37e";
}
.ticons-view_comfy:before {
	content: "\f37f";
}
.ticons-view_grid:before {
	content: "\f380";
}
.ticons-view_headline:before {
	content: "\f381";
}
.ticons-view_left:before {
	content: "\f382";
}
.ticons-view_list:before {
	content: "\f383";
}
.ticons-view_module:before {
	content: "\f384";
}
.ticons-view_only:before {
	content: "\f385";
}
.ticons-view_right:before {
	content: "\f386";
}
.ticons-view_top:before {
	content: "\f387";
}
.ticons-views_add:before {
	content: "\f388";
}
.ticons-views:before {
	content: "\f389";
}
.ticons-vpn_key:before {
	content: "\f38a";
}
.ticons-walk:before {
	content: "\f38b";
}
.ticons-warning:before {
	content: "\f38c";
}
.ticons-watch_later:before {
	content: "\f38d";
}
.ticons-wb_auto:before {
	content: "\f38e";
}
.ticons-wb_cloudy:before {
	content: "\f38f";
}
.ticons-wb_incandescent:before {
	content: "\f390";
}
.ticons-wb_iridescent:before {
	content: "\f391";
}
.ticons-wb_sunny:before {
	content: "\f392";
}
.ticons-wbs_type:before {
	content: "\f393";
}
.ticons-web_link:before {
	content: "\f394";
}
.ticons-weight:before {
	content: "\f395";
}
.ticons-whatsapp:before {
	content: "\f396";
}
.ticons-wifi:before {
	content: "\f397";
}
.ticons-work_status:before {
	content: "\f398";
}
.ticons-work:before {
	content: "\f399";
}
.ticons-workers_queue:before {
	content: "\f39a";
}
.ticons-wrap_text:before {
	content: "\f39b";
}
.ticons-youtube_searched_for:before {
	content: "\f39c";
}
.ticons-zip:before {
	content: "\f39d";
}
.ticons-zoom_center:before {
	content: "\f39e";
}
.ticons-zoom_extents:before {
	content: "\f39f";
}
.ticons-zoom_in:before {
	content: "\f3a0";
}
.ticons-zoom_out_map:before {
	content: "\f3a1";
}
.ticons-zoom_out:before {
	content: "\f3a2";
}
.ticons-zoom_to_selected_item:before {
	content: "\f3a3";
}

