<app-toolbar [title]="title" [toolbarButtons]="toolbarButtons" [backButton]="backButton"></app-toolbar>
<div class="details-page">
    <img class="picture" src='/assets/pictures/teacher-details.png'>
    <div class="categories">
        <h2 class="title">Name: {{element.name}}</h2>
        <h2 class="title">Surname: {{element.surname}}</h2>
        <h2 class="title">Mail: {{element.mail}}</h2>
        <h2 class="title">Phone: {{element.phone}}</h2>
    </div>
</div>