<app-toolbar [title]="title" [toolbarButtons]="toolbarButtons" [backButton]="backButton"></app-toolbar>
<div class="details-page">
    <img class="picture" src='/assets/pictures/course-details.png'>
    <div class="categories">
        <h2 class="title">Name: {{element.name}}</h2>
        <h2 class="title">Year of study: {{element.year}}</h2>
        <h2 class="title">Semester of study: {{element.semester}}</h2>
        <h2 class="title">Course hours/week: {{element.course}}</h2>
        <h2 class="title">Laboratory hours/week: {{element.laboratory}}</h2>
        <h2 class="title">Lecture hours/week: {{element.lecture}}</h2>
        <h2 class="title">Number of credits: {{element.credits}}</h2>
    </div>
</div>
