<mat-toolbar class="toolbar" color="primary">
  <div class="header-item menu">
    <button routerLink="" mat-button matTooltip="Home">
      <mat-icon>
        <i class="ticons ticons-home"></i>
      </mat-icon>
    </button>
    <span>Transilvania University</span>
  </div>
  <span class="header-item title">Computer Science</span>
  <div class="header-item user">
    <span>User</span>
    <mat-icon class="user-icon">
      <i class="ticons ticons-person"></i>
    </mat-icon>
  </div>
</mat-toolbar>
