.header-item{
  width: 32%;
}

.menu {
  display: flex;
  align-items: center;
}

.title{
  text-align: center;
}
.user{
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.user-icon{
  margin-left: 10px;
}
