<mat-sidenav-container class="example-container">
  <mat-sidenav #snav [mode]="'side'" opened="true">
    <mat-nav-list>

      <a mat-list-item class="menu-item" [routerLink]="['/dashboard']">
        <mat-icon class="space-after">
          <i class="ticons ticons-dashboard"></i>
        </mat-icon>
        <span>Dashboard</span>
      </a>

      <a mat-list-item class="menu-item" [routerLink]="['/students']">
          <mat-icon class="space-after">
            <i class="ticons ticons-people"></i>
          </mat-icon>
          <span>Students</span>
      </a>

      <a mat-list-item class="menu-item" [routerLink]="['/courses']">
          <mat-icon class="space-after">
            <i class="ticons ticons-folder"></i>
          </mat-icon>
          <span>Courses</span>
      </a>

      <a mat-list-item class="menu-item" [routerLink]="['/teachers']">
          <mat-icon class="space-after" >
            <i class="ticons ticons-solid_collectedby"></i>
          </mat-icon>
          <span>Teachers</span>
        </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
     <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
