.example-container {
  width: 100%;
  height: 100%;
}

.show-hide {
  display: block;
}

.menu-item{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  font-size: larger;
}

.space-after{
  margin-right: 10px;
}
