<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.name">
    <th mat-header-cell *matHeaderCellDef class="{{column.style}}"> {{column.label}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column.name]}}</td>
  </ng-container>
  <ng-container matColumnDef="actionsColumn">
    <th mat-header-cell *matHeaderCellDef class="width-10"></th>
    <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
      <button mat-button *ngFor="let button of element.actionsButtons" matTooltip={{button.tooltip}} (click)="button.method()" >
        <mat-icon>
          <i class="ticons ticons-{{button.icon}}"></i>
        </mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;" (click)="redirectToUrl(row.nr)"></tr>
</table>
