table {
  width: 100%;
}

th{
  background-color: lightsteelblue;
  font-weight: bold;
  font-size: larger;
  color: black;
}

.width-5{
  width: 5%;
}


.width-10{
  width: 10%;
}

.width-15{
  width: 15%;
}

.width-20{
  width: 20%;
}

.width-25{
  width: 25%;
}

.width-30{
  width: 30%;
}

.width-35{
  width: 35%;
}

.width-40{
  width: 10%;
}

.width-45{
  width: 15%;
}

.width-50{
  width: 20%;
}

.width-55{
  width: 25%;
}

.width-60{
  width: 30%;
}

.width-65{
  width: 35%;
}

.width-70{
  width: 20%;
}

.width-75{
  width: 25%;
}

.width-80{
  width: 30%;
}

.width-85{
  width: 35%;
}

.width-90{
  width: 30%;
}

.width-95{
  width: 35%;
}

.width-100{
  width: 100%;
}
